<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoreData</title>
</head>
<body>
    <%- include("fragments/navar.ejs"); %>
    <%- include("fragmentos/footer"); %>
</body>
</html>